body{
    margin: 0 auto;
      background-color: #4b4b4b5f;
  }
  .container {
max-width: 1000px;
padding: 12px;
margin: 10px auto;
height: auto;
overflow: hidden; /* 添加清除浮动 */
}
.a {
margin: 8px 0px 0px 0px;
border-radius: 12px;
background-color: #777;
color: white;
cursor: pointer;
padding: 18px;
width: 100%;
border: none;
text-align: left;
font-size: 15px;
}

.active, .a:hover {
background-color: #555;
}

.b {
padding: 0 18px;
max-height: 0;
overflow: hidden;
transition: max-height 0.2s ease-out;
background-color: #f1f1f1;
border-radius: 12px;
}
.ad {
    background-color: #777;
    border-radius: 12px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 15px;
    color: #fff;
    padding: 0 18px;
  }
    .content{
        flex: 1;
        overflow: hidden;
        span {
            display: block;
            width: auto;
            white-space: nowrap;
            animation: marquee 0s linear infinite;
  width: auto;
  white-space: nowrap;
  animation: marquee 30s linear infinite;
  padding-left: 105%;
  padding-right: 120%;

  &:hover {
    animation-play-state: paused;
        }
    }
}
@keyframes marquee {
    0% {
    transform: translateX(0);
    }
    100% {
    transform: translateX(-100%);
    }
}
.a:after {
  content: '关！';
  color: white;
  font-weight: bold;
  float: right;
}

.active:after {
  content: "开！";
}
.logo
{
  font-size: 15px;
  background-color: #777;
  color: #fff;border-radius: 2px;
}
.m {
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  background-color: #777;
  text-align: center;
}

.m a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 12px;
}

.m a:hover {
  background-color: #555;
  color: white;
}

.m a.active-m {
  background-color: #555;
  color: white;
}