:root {
    --bg-color: #F5F5F5;
    --main-color: #DCDCDC;
    --main-color-active: dodgerblue;
    --main-color-hover: #C0C0C0;
    --main-font-color: #000;
    --batton-1: #DCDCDC;
    --batton-2: #D3D3D3;
    --batton-3: #C0C0C0;
}
@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #A9A9A9;
    --main-color: #808080;
    --main-color-active: #6495ED;
    --main-color-hover: #ddd;
    --main-font-color: #fff;
    --batton-1: #808080;
    --batton-2: #f1f1f1;
    --batton-3: #696969;
  }
}
body {
margin: 0 auto;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
background-color: var(--bg-color);
}
.content {
    max-width: 1000px;
    padding: 12px;
    margin: 5px auto;
    height: auto;
    overflow: hidden;
}
.main {
    height: 50px;
    width: 100%;
background-color: var(--main-color);
border-radius: 25px;
}
.main a {
  display: inline-block;
  color: var(--main-font-color);
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 15px;
  border-radius: 25px;
  transform: scale(1);
  transition: transform 0.25s ease;
  margin-right: 10px;
}

.main a:hover {
  background-color: var(--main-color-hover);
  color: black;
  transform: scale(1.2);
}

.main a.active {
  background-color: var(--main-color-active);
  color: white;
}
#typed{
zoom: 1.25;
}
.home{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
.home2{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, 75%);
}
.dawn{
position: fixed;
bottom: 0;
text-align: center;
left: 50%;
transform: translate(-50%, -50%);
}
.dawn a{
    line-height: 1;
    text-align: center;
    zoom: 1.5;
    text-decoration: none;
    color: #000;
}
.downdh{
            animation: animate 1.5s linear infinite;
        }

        @keyframes animate {
            0%,{transform: translateY(0);}
            50% {transform: translateY(-2.5px);}
            100% {transform: translateY(0);}
        }
.aa {
margin: 8px 0px 0px 0px;
    border-radius: 25px;
    background-color: var(--batton-1);
    color: var(--main-font-color);
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    font-size: 15px;
    transform: scale(1);
    transition: transform 0.25s ease;
}

.ab, .aa:hover {
  background-color: var(--batton-3);
  transform: scale(1.025);
}
.bb {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: var(--batton-2);
    border-radius: 25px;
}
.content2{
  margin-top: 100px;
  border-radius: 25px;
}
.content2 img{
  margin: 0 10px 0 0px;
  float: left;
  border-radius: 15px;
width: 100px;
height: 100px;
object-fit: cover;
display: block;
border: none;
}
.content2 b{
font-size: 20px;
line-height: 1.5;
}
.content2 iframe{
width: 100%;
height: 200px;
border: none;
}
.main-down{
  border-radius: 25px;
  padding: 10px;
  background-color: var(--main-color);
  color: var(--main-font-color);
}
.main-down a{
  background-color: var(--batton-3);
      transform: scale(1);
    transition: transform 0.25s ease;
  display: inline-block;
  color: var(--main-font-color);
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 15px;
  border-radius: 25px;
  margin: 5px;
}

.main-down a:hover {
  background-color: var(--main-color-hover);
  color: black;
  transform: scale(1.2);
}