.main 
{
    color: black;
    position: fixed;
    margin: 0 auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    animation: main 2.5s forwards;
}
.main2 
{
    color: black;
    position: fixed;
    margin: 0 auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    animation: main2 5s forwards;
}
@keyframes main
{
    0%{opacity: 0;}
    50%{opacity: 1;}
    100%{opacity: 0;}
}
@keyframes main2
{
    0%{opacity: 0;}
    50%{opacity: 0;}
    75%{opacity: 1;}
    100%{opacity: 1;}
}
.main3 
{
    color: black;
    position: fixed;
    margin: 0 auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    animation: main3 1s forwards;
}
@keyframes main3
{
    0%{opacity: 1;}
    99%{opacity: 1;}
    100%{opacity: 0;}
}
.main4 
{
    z-index: 2;
    color: black;
    position: fixed;
    margin: 0 auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.blinking{
    width: 80px;
    height: 80px;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    position: relative;
    padding: 8px;
    margin: 0 auto;
}
.blinking span{
    width: 20px;
    height: 8px;
    display: inline-block;
    border-radius: 20px;
    background: #000000;
    position: absolute;
    left: 50%;
    top: 50%;
    animation: 1s blink infinite;
    transform-origin: left top;
}
@keyframes blink{
    0%{
        opacity: 0.4;
    }
    30%{
        opacity: 0.6;
    }
    60%{
        opacity: 0.8;
    }
    100%{
        opacity: 1;
    }
}

.blinking span:first-child{
    transform:rotate(45deg) translateX(18px);
    animation-delay: 0.125s;
}
.blinking span:nth-child(2){
    transform:rotate(90deg) translateX(18px);
    animation-delay: 0.25s;
}
.blinking span:nth-child(3){
    transform:rotate(135deg) translateX(18px);
    animation-delay: 0.375s;
}
.blinking span:nth-child(4){
    transform:rotate(180deg) translateX(18px);
    animation-delay: 0.5s;
}
.blinking span:nth-child(5){
    transform:rotate(225deg) translateX(18px);
    animation-delay: 0.625s;
}
.blinking span:nth-child(6){
    transform:rotate(270deg) translateX(18px);
    animation-delay: 0.75s;
}
.blinking span:nth-child(7){
    transform:rotate(315deg) translateX(18px);
    animation-delay: 0.875s;
}
.blinking span:nth-child(8){
    transform:rotate(360deg) translateX(18px);
    animation-delay: 0s;
}
.login 
{
    padding: 5px;
    font-size: 20px;
    position: fixed;
    text-align: center;
    border-radius: 20px;
    left: 50%;
    top: 10%;
    transform: translate(-50%,-100%);
    width: 200px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.25);
    color: #000000;
    animation: login 5.25s forwards;
    border: 2px #000000 solid;
}
.login2
{    
    font-size: 20px;
    text-decoration: none;
    color: #000;
    animation: start 1.5s forwards;
}
@keyframes login
{
    0%{top: 0%;}
    20%{top: 0%;}
    50%{top: 10%;}
    80%{top: 10%;}
    100%{top: 0%;}
}
.start
{
    text-align: center;
    position: fixed;
    left: 50%;
    top: 85%;
    transform: translate(-50%,-50%);
    animation: start 1.5s forwards;
}
.start a
{
    text-decoration: none;
    color: #000;
    font-size: 30px;
}
.start select{
    font-size: 20px;
    text-align: center;
    border: 2px #000000 solid;
    border-radius: 25px;
    width: 225px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.25);
    color: #000000;
}
@keyframes start
{
    0%{opacity: 0;}
    90%{opacity: 0;}
    100%{opacity: 1;}
}
.container {
    cursor: pointer;
    text-decoration: none;
    color: black;
    position: fixed;
    margin: 0 auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.gradient {
    width: 400px;
    height: 400px;
    background: linear-gradient(-45deg, #fbc2eb, #a6c1ee);
    background-size: 600% 600%;
    animation: gradientBG 5s ease infinite;
  }

  @keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
  }
    /* 遮罩层 */
    #overlay {
    z-index: 20;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    font-size: 16px;
    /* IE9以下不支持rgba模式 */
    background-color: rgba(0, 0, 0, 0.5);
    /* 兼容IE8及以下 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000,endColorstr=#7f000000);
    display: none;
  }
  /* 弹出框主体 */
  .popup {
    border-radius: 10px;
    margin: 0 auto;
    text-align: center;
  }
  /* 弹出框的标题 */
  .popup_title {
    padding-right: 10px;
    text-align: right;
    font-size: 22.5px;
    border-radius: 10px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-62.5%);
    background-color: rgba(200, 200, 200, 1);
    width: 490px;
    height: 340px;
    position: fixed;
  }
  /* 弹出框的内容 */
  .popup_content {
    height: 100%;
  }
  .bg1{background: url(https://static-cse.canva.cn/blob/229868/.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}
  .bg2{
    position: fixed;
    background-color: #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height: 100%;
    width: 100%;
    z-index: 1;
    animation: bg1 1.5s forwards;
    pointer-events: none;
  }
@keyframes bg1{
    0%{opacity: 1;}100%{opacity: 0;}}
